@model EmployeeManagement.Models.JobTitle

<form asp-method="JobHistory" method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Nome:</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="CBO" class="control-label">CBO:</label>
        <input asp-for="CBO" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ActivityDescription" class="control-label">ActivityDescription</label>
        <input asp-for="ActivityDescription" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
