@{
    ViewData["Title"] = "Nydus - Gerenciamento de colaboradores";
}

<div class="text-center">
    <h1 class="display-4">Employee management</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <p>Cadastre sua empresa e gerencie seus funcionários com uma ferramenta poderosa</p>

</div>
